<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>샴푸</title>
    <link rel="stylesheet" href="/static/css/shampoo.css ">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        #main {
            opacity: 0;
            transition-duration: 2s;
        }
    </style>
</head>
<body>
    
    <script>
        $(document).ready(function(){
            console.log('문서 준비완료')
            $("#main").css({ opacity: "100" });
        })
    </script>

    <div class="main" id="main">
        <div class="nav">
            <h1>샴푸추천</h1>
            <a href="main"><img class="logo" src="/static/img/StarDust-logo-black.png" alt=""></a>
        </div>
        <div class="left"></div>


        
        <div class="list">
            <div class="lis">
                <a href="https://brand.naver.com/iam/products/6854104728?n_media=11068&n_query=%ED%83%88%EB%AA%A8%EC%83%B4%ED%91%B8&n_rank=3&n_ad_group=grp-a001-02-000000028795256&n_ad=nad-a001-02-000000197486814&n_campaign_type=2&n_mall_id=ncp_1ofhep_01&n_mall_pid=6854104728&n_ad_group_type=2&NaPm=ct%3Dl7a40z1c%7Cci%3D0zm0000qp0vxyKx1Afkn%7Ctr%3Dpla%7Chk%3D142ce3479959f02703252be192b3d9f149e34e3f">
                    <div class="i_am">
                        
                        <div class="img">
                            <img class="iam" src="/static/샴푸/I_AM_샴푸/I_AM_샴푸 .png" alt="">
                        </div>
                        <div class="poart">
                            <h2>I AM 샴푸 N1 안티 헤어 로스 케어 480ml </h2>
                            <h2 class="cost">29,600원</h2> <br>
                            <p>화장품/미용 > 헤어케어 > 샴푸</p> 
                            <h3>헤어타입 : 모든 모발용 | 타입 : 일반샴푸 | 주요 제품특징 : 머릿결개선, 세정력, 풍부한 거품 <br>
                                | 세부제품특징 : 향, 약산성, 모발영양, 모근강화, 모발윤기 </h3>
                            <!-- <div class="h9"> -->
                            
                            <!-- </div> -->
                        </div>
                        <div class="mark">
                                <h3 class="h3">유황 : 피부 구조 및 모발강화 <br>
                                    아미노산 : 모발 탄력도 유지 및 강화<br>
                                    바이오틴 : 두피, 모발에 영양 공급<br>
                                    온천수 : 황, 칼슘, 마그네슘 다량 함유<br>
                                    피록톤올아민 : EWG 그린등급의 안전한 <br> 비듬 케어<br>
                                    4-터피네올 : 2배 농축된 티트리 오일의 <br> 탁월한 진정 효과<br>
                                    석시닉애씨드 : 피지 밸런스 조절, <br> 안전한 각질  & 피부 고민 케어<br>
                                    팔마로사 오일 : 두피 pH 및 환경 개선, <br> 두피 냄새 완화</h3>
                        </div>
                    </div></a>
                    <a href="https://www.tstrillion.com/shop/item.php?it_id=1626672909" >
                        <div class="i_am">
                            <div class="img">
                                <img class="iam" src="/static/샴푸/TS//TS.png" alt="">
                            </div>
                        <div class="poart"> 
                            <h2>TS 골드플러스 티에스 샴푸 500g</h2> 
                            <h2 class="cost">13,360원</h2>  <br>
                            <p>화장품/미용 > 헤어케어 > 탈모케어</p>
                            <h3>헤어타입 : 모든 모발용 | 타입 : 탈모샴푸 | 주요 제품특징 :  저자극, 세정력, 탈모케어 <br>
                                | 세부제품특징 : 각질케어, 유분제거, 두피케어, 머릿결개선  </h3>
                                
                        </div>
                        <div class="mark">
                            <h3 class="h31">어성초추출물 - 두피건강에 도움<br>
                                호장근추출물 - 두피 컨디션 케어<br>
                                물푸레나무추출물 - 두피 유수분 밸런스 관리
                                </h3>
                        </div>
                    </div></a>
                    <a href="https://search.shopping.naver.com/search/all?query=%EB%9D%BC%EB%B3%B4%EC%97%90%EC%9D%B4%EC%B9%98&frm=NVSHATC&prevQuery=%ED%83%88%EB%AA%A8%EC%83%B4%ED%91%B8" >
                        <div class="i_am">
                            <div class="img">
                                <img class="iam" src="/static/샴푸/라보에이치/라보에이치 .png" alt="">
                            </div>
                        <div class="poart"> 
                            <h2>라보에이치 프로바이오틱스 탈모증상완화 두피강화 샴푸 400ml</h2> 
                            <h2 class="cost">14,310원</h2>  <br>
                            <p>화장품/미용 > 헤어케어 > 탈모케어</p> 
                            <h3>헤어타입 : 모든 모발용 | 타입 : 탈모샴푸, 두피샴푸 | 주요 제품특징 :  저자극, 세정력, 탈모케어 <br>
                                | 세부제품특징 : 향, 상쾌함, 유분제거, 실리콘 프리  </h3>
                                
                        </div>
                        <div class="mark">
                                    <h3 class="h31">카페인글리세릴스테아레이트 : 탈모증상완화 <br>기능성  주성분
                                        소듐살리실레이트 : 각질케어<br>
                                        락토바이실러스발효용해물 : 두피 장벽 강화<br>
                                        바이오틴 : 머리카락을 구성하는 케라틴 구조 개선
                                        </h3>
                                </div>
                    </div></a>
                    <a href="https://brand.naver.com/envin/products/4328195211?NaPm=ct%3Dl7a4gzfc%7Cci%3D72e53f20129908119f0205588b3add50271089ee%7Ctr%3Dslsl%7Csn%3D898320%7Chk%3D75d110c80bb350378f3a3f65f2f85a3de7bca4c2" >
                        <div class="i_am">
                            <div class="img">
                                <img class="iam" src="/static/샴푸/앙방/Screenshot 2022-08-30 172656 .png" alt="">
                            </div>
                        <div class="poart">
                            <h2>앙방 카페인 맥주 효모 샴푸 1000ml</h2> <br>
                            <h2 class="cost">16,900원</h2>
                            <p>화장품/미용 > 헤어케어 > 샴푸</p> 
                            <h3>헤어타입 : 모든 모발용 | 타입 : 탈모샴푸, 천연샴푸, 비듬샴푸 | 주요 제품특징 : 세정력 <br>
                                | 세부제품특징 : 저자극, 각질케어, 약산성, 모발영양  </h3>
                                
                            </div>
                            <div class="mark">
                                    <h3 class="h3">
                                            <strong>덱스판테놀</strong> : 두피 유수분 밸런스 잡고,<br> 두피 진피층까지 영양 성분 전달<br>
                                            나이아신아마이드 : 두피보습 장벽효과, <br>두피 촉촉하고 건강하게 유지, 피지 밸런스 잡아줌<br>
                                            살리실릭애씨드 : 두피 & 모공 클렌징<br>
                                            바이오틴 : 지방질과 아미노산의 작용에 관여,<br> 피부&모발 관리<br>
                                            카페인 : 두피 & 모발 영양 공급<br>
                                            멘톨 : 두피 열감 진정<br>
                                            피록톤올아민 : 두피 청결
                                    </h3>
                                </div>
                    </div></a>
                    <a href="https://search.shopping.naver.com/catalog/22376501077?query=%ED%83%88%EB%AA%A8%20%EC%83%B4%ED%91%B8&NaPm=ct%3Dl7bem5w8%7Cci%3D97fd49a28ba65a49427f9a4bb074f251413ace8e%7Ctr%3Dslsl%7Csn%3D95694%7Chk%3D7e7cf7edad7a1958fa81830ab0061a6dabbcce6f">
                    <div class="i_am">
                        <div class="img">
                            <img class="iam" src="/static/샴푸/자담유/자담유.png" alt="">
                        </div>
                    <div class="poart">    
                        <h2>자담유 탈모완화 맥주효모 샴푸 500ml</h2> <br>
                        <h2 class="cost">43,000원</h2>  <br>
                        <p>화장품/미용 > 헤어케어 > 탈모케어</p> 
                        <h3>헤어타입 : 모든 모발용 | 타입 : 탈모샴푸, 천연샴푸, 두피샴푸 | 주요 제품특징 : 세정력 <br></h3>
                            
                    </div>
                    <div class="mark">
                                <h3 class="h31">
                                    바이오틴(비타민B) : 모발/두피 건조함 방지, <br> 영양 공급<br>
                                    토코페롤(비타민E) : 모발 갈라짐 방지, 큐티클 보호
                                </h3>
                            </div>
                    </div></a>
                    <a href="https://search.shopping.naver.com/catalog/18979532435?query=%ED%83%88%EB%AA%A8%20%EC%83%B4%ED%91%B8&NaPm=ct%3Dl7bguh3k%7Cci%3D3352948c26fa85b733eed58d099261ac464b399e%7Ctr%3Dslsl%7Csn%3D95694%7Chk%3Df48d8145ae11662fd358569e40e83233adda966d" >
                    <div class="i_am">
                        <div class="img">
                            <img class="iam" src="/static/샴푸/쿤달/쿤달.png" alt="">
                        </div>
                    <div class="poart">      
                        <h2>쿤달 허니 앤 마카다미아 네이처 샴푸 베이비파우더 500ml</h2> <br>
                        <h2 class="cost">6,990원</h2>  
                        <p>화장품/미용 > 헤어케어 > 샴푸</p> 
                        <h3>헤어타입 : 모든 모발용 | 타입 : 일반샴푸 | 주요 제품특징 : 머릿결개선, 세정력, 풍부한 거품 <br>
                            | 세부제품특징 : 향, 저자극, 촉촉함(수분공급) 파라벤 프리, 약산성, 손상케어, 모발영양  </h3>
                            
                    </div>
                    <div class="mark">
                                <h3 class="h31">
                                    생두 - 두피 영양 공급, 두피 유수분 밸런스 케어, <br> 두피 건강관리<br>
                                    덱스판테놀 - 두피 보습, 영양 도움<br>
                                    나이아신아마이드 - 수분 손실 방지를 도움<br>
                                    살리실릭애씨드 - 두피 각질층 개선 및 청결 유지
                                </h3>
                            </div>
                </div></a>
            </div>
        </div>
        
        <div class="right"></div>
    </div>
</body>
</html>