<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>두피 관리</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/static/css/01.css">
    
</head>


<style>
    #main {
        opacity: 0;
        transition-duration: 1s;
    }
</style>
    

<body>
    <script>
        $(document).ready(function(){
            console.log('문서 준비완료')
            $("#main").css({ opacity: "100" });
            
        })
    </script> 
    <div class="mainContainer" id="main">
        <div class="navbar1">
            <a class="home" href="main"><img class="logo" src="/static/img/StarDust-logo-white.png" alt=""></a>
            <ul class="ul">
            
                <li>
                    <a class="hea" href="#">두피관리법</a>
                    
                    <ul class="sub"> 
                        <li><a href="#l1">여름철 두피관리법</a></li>
                        <li><a href="#2">겨울철 두피 관리법</a></li>
                        <li><a href="#3">지성 두피 관리법</a></li>
                        <li><a href="#4">건성 두피 관리법</a></li>
                        <li><a href="#5">지루성 두피 관리법</a></li>
                        <li><a href="#6">민감성 두피 관리법</a></li>                    
                    </ul>
                    
                </li>
                
                    
                
            </ul>
        </div>
        <div class="navbar">
        </div>
        

        <div class="contentMain">
            <div class="left"></div>
            <div class="left1">
                <img src="/static/img/잔디머머리.png" class="leftPhoto"/>
            </div>
            
            <div class="center">
                <!-- <h1 class="h1">두피 관리법</h1> -->
                <!-- <div class="home2" >
                    <div class="home3">
                        <a class="home" href="#">HOME</a>
                    </div>
                </div> -->
                <!-- <img src="./img/logo.jpg" alt="" id="img"> -->
                <h2 style="margin-top: 0;">왼쪽이 되고싶습니까 오른쪽이 되고싶습니까</h2>
                <p><h2>올바른 샴푸방법</h2></p>
                <p>
                    - 마른 머리 상태에서 충분히 빗질을 하여 노폐물을 떨쳐낸다<br>
                    - 물 온도는 나의 체온과 비슷한 온도로 한다<br>
                    - 머리를 충분히 두드리며 적신다<br>
                    - 샴푸의 양은 500원 정도로 짠다<br>
                    - 샴푸는 충분히 거품을 낸 뒤 사용한다<br>
                    - 머리를 닦아내는 것이 아닌 두피를 닦아내는 느낌으로 머리를 감는다<br>
                    - 마사지는 손톱이 아닌 지문이 있는 부분으로 원을 그리면서 한다<br>
                    - 두피를 다 닦아내면, 남은 거품으로 머리를 쓸어주며 닦아낸다<br>
                    - 머리를 헹군다<br>
                </p>
                <p class="h2"></p>
                <span id="l1"></span>
                <h2 >여름철 두피 관리</h2>
                <p class="p">
                    - 자외선이 강하기 때문에 두피에 직접 뿌리는 자외선 차단제 <br>
                    - 습한 날씨에 두피에 땀이 차기 때문에 저녁에는 머리를 깨끗히 세정한 후 잘 말려주어야 한다 <br>
                    - 습도가 높기때문에 세정후 찬 바람으로 잘 말린다 <br>
                </p>
                <span id="2"></span>
                <h2 >겨울철 두피 관리</h2>
                <p>
                    - 머리 감기전 빗질 해줘야 한다 <br>
                    - 샴푸 후 두피건조를 해야 한다 <br>
                    - 건조하기 때문에 단백질을 많이 섭취 한다<br>
                    - 머리 세정 시 미풍과 미온수 이용한다<br>
                    - 깨끗히 세정 한다
                </p>
                <span id="3"></span>
                <h2>지성 두피 </h2>
                <span>지성 두피란</span>
                <p>과도한 피지 분비로 항상 두피에 물이 고여있는듯한 촉촉한 상태로 <br> 세정이 잘 이루어지지 않았거나 비듬과 각질이 피지와 엉켜 모공이 막혀있는 상태를 말한다 
                    <br>
                    두피의 이물질 및 피지 산화물의 잔류로 냄새가 나기도 하며, 수분 함량도 20% 미만으로 노화된 각질이 있는 경우 많다.</p> 
                <span>관리법</span>
                <p>- 아침,저녁으로 샴푸한다 <br>
                    - 드라이 할 경우 찬바람을 이용한다<br>
                    - 평소 식습관에서 자극적이고 기름진 음식은 줄인다<br>
                    - 두피에 과도한 자극과 마사지를 피한다<br>
                    - 두피 스케일링을 정기적으로 받는다<br>
                    - 술, 담배와 피로, 스트레스를 줄인다<br>
                    - 피지 분비를 조절해 주는 두피 영양제를 사용한다</p>
                <span id="4"></span>
                <h2>건성 두피 </h2>
                <span>건성 두피란</span>
                <p>피지 분비량이 적고 수분이 부족하며 두피가 당기고 각질이 두피 표면에 상태를 말하며 <br> 모발이 탄력이 없고 윤기가 없으며, 갈라짐 현상이 보인다.</p>
                <span>관리법</span>
                <p>- 가급적 비누를 사용하지 않는다 <br>
                    - 찬바람으로 드라이한다<br>
                    - 샴푸 후 모발과 두피에 영양제를 발라 준다<br>
                    - 샴푸 전 충분히 두피 마사지를 해준다<br>
                    - 잦은 펌, 염색을 피한다<br>
                    - 비타민A, 단백질 등 균형있는 영양 섭취를 한다<br>
                    - 히터와 같은 난방을 최소화 한다<br>
                    - 술과 커피를 줄인다<br>
                    - 충분한 수면을 취한다</p>
                <span id="5"></span>
                <h2>지루성 두피 </h2>
                <span>지루성 두피란</span>
                <p> 두피에 지루성 피부염이 발병한 것으로 과도한 피지 분비가 원인이 된 습진이라 할수 있다. <br>
                    증상으로는 홍반(붉게 부어오르는 반점이나 뾰루지)과 가느다란 인설(비듬)이 주요 증상이다. <br> 증상이 심해질 경우 홍반에 딱지가 앉기도 하고
                    , 해당 부위의 피부 전체가 벌겋게 달아오르고 비듬의 생성이 심해진다. <br> 당연히 가려움증도 동반되는데, 긁을 경우 출혈이나 흉이 질 수도 있다.
                    </p>
                <span>관리법</span>
                <p>- 두피를 손톱으로 긁는 등 자극를 주지 않는다 <br>
                    - 항상 두피를 청결 하게 관리한다 <br>
                    - 샴푸는 하루에 한번정도가 적당하다 <br>
                    - 샴푸를 할 때에는 손톱이 아닌 손가락 끝 살로 부드럽게 문지른다 <br>
                    - 샴푸를 행굴 때에는 따뜻한 물로 충분히 헹궈 샴푸 잔여물이 남지 않도록 한다 <br>
                    - 피지 분비량이 많은 지성 두피는 두피를 깨끗이 씻어내는 것이 중요하다 <br>
                    - 비타민 B2, B6 등을 섭취하는것도 도움이 된다 <br>
                    - 스트레스를 받지 않도록 노력한다
                </p>

                <span id="6"></span>
                <h2>민감성 두피 </h2>
                <span>민감성 두피란</span>
                <p>모든 두피 유형에서 나타날 수 있으며, 두피 유형 중 예민도를 나타내는 것으로 <br> 두피가 청결하지 않음
                    곰팡이, 박테리아, 바이러스, 세균의 감염을 염증이 생기고 <br> 과도한 피지로 인해 트러블이 생긴 상태를 말한다.</p>
                <span>관리법</span>
                <p>- 펌, 염색을 피한다<br>
                    - 차가운 바람으로 드라이한다<br>
                    - 과도한 두피마사지를 피한다<br>
                    - 손으로 두피를 긁지 않는다<br>
                    - 술, 담배를 피한다<br>
                    - 충분한 수면을 취한다<br>
                    - 민감성 샴푸를 이용한다<br>
                    - 두피 보습영양제를 도포한다</p>
                    
            </div>
            
            <div class="right1">
                <img src="/static/img/잔디머리.png" class="rightPhoto"/>
            </div>
            <div class="right"></div>
        </div>
    </div>
     
</body>
</html>